body{
    background-color: #B6F2E2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dividen1{
    background-color: #8AF2E2;
}
.dividen2{
    background-color: #8AF2E2;
}
.dividen3{
    border: 3px dashed #079CF9;
    padding: 15px;
}
